.book-container {
    background-color: #F4F2F7;
    margin: 20px;
    border-radius: 8px #B4A6C9;
    padding: 0px 25px 10px 25px;


    .btn-container {
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        padding: 5px;
        width: 60%;

        .btn {
            font-family: 'Caveat', cursive;
            font-size: 18px;
            background-color: #BFB3D0;
            border-radius: 4px;
            border: 1px solid transparent;
            transition: 0.2s ease-in-out;
            width: 55px;
            height: 30px;

            &:hover {
                color: #F4F2F7;
                border: 1px solid #453659;
                text-shadow: 1px 1px 1px #453659;
            }
        }
    }
}